---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Test Page</title>
	</head>
	<body>
		<h1>Astro Test Page</h1>
		<p>If you can see this, Astro is working!</p>
	</body>
</html>
